################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WcfMathServiceLibrary/bin/Debug
/WcfMathServiceLibrary/obj/Debug
/.vs/WcfMathService/v14/.suo
/SimpleCalculator/bin/Debug
/SimpleCalculator/obj/Debug
