################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WcfMathServiceLibrary/bin/Debug
/WcfMathServiceLibrary/obj/Debug
/.vs/WcfMathService/v14/.suo
/SimpleCalculator/bin/Debug
/SimpleCalculator/obj/Debug
/WcfMathServiceInterface/obj/Debug
/WcfMathServiceInterface/bin/Debug
/WcfMathService/bin/Debug
/WcfMathService/obj/Debug
/WcfMathServiceConsoleHost/bin/Debug
/WcfMathServiceConsoleHost/obj/Debug
/WcfMathServiceConsoleClient/bin/Debug
/WcfMathServiceConsoleClient/obj/Debug
/packages
/WcfMathServiceIISHost/bin
/WcfMathServiceIISHost/obj/Debug
/WcfMathServiceIISClient/bin/Debug
/WcfMathServiceIISClient/obj/Debug
